<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>Document</title>
</head>
<body>
  <div class="container-fluid">
    <h1>Hello from App Component</h1>
    <hr/>
    <app-product-list></app-product-list>
    <hr/>
    <app-product-details></app-product-details>
    <hr/>
    <app-create-product></app-create-product>
    <hr/>
    <app-tow-way-binding></app-tow-way-binding>
    <hr/>
    <app-ngif-ngfor></app-ngif-ngfor>
    <hr/>
    <app-ngswitch></app-ngswitch>
    <hr/>
    <app-contact-us></app-contact-us>
  </div>
</body>
</html>
